

.container
{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left: 7%;
    width: 90%;
    padding-bottom: 10%;
    padding-top: 3%;
   
   
   /* background-image: url(https://cdn.wallpapersafari.com/71/33/imKILU.jpg);*/

}
ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 180px;
    margin:15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 2px rgb(0,0 ,0,0.3);
    transition: 0.5s;
    cursor: pointer;
    padding: 0px;

}
ul:hover
{
    border:none;
    box-shadow: 1px 1px 10px  rgb(0,0 ,0,0.6);
}
li
{
    list-style-type:none;
}
img
{
    height: 300px;
}
.title{
    font-weight: bold;
    letter-spacing: 10px;
}
.newprice
{
    font-family: monospace;
    letter-spacing: -2px;

}
.oldprice
{
    font-family:monospace;
    align-self: flex-start;
    text-decoration:line-through red ; 
    color:rgb(158, 158, 158);
    font-size: 18px;
}
.search
{
background-color: white;
width: 20px;
font-weight: bold;
font-size: 20px;
}
.bookItem
{
    display: flex;
    margin-bottom: 20px;
}
.bookImg
{
    display: flex;
    justify-content: center;
    width: 140;
}
.home-image div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: -340px;
    margin-bottom: 70px;
    height: 280px;
  
}
.bookImgContent
{  
    line-height: 30px;
    width: 24.5%;
    color:white;
    justify-content: center;
    font-size: 20px;
    border-radius: 80%;
    text-align: justify;
    margin-right: 50px;
}
.book-img-title{

    width: 30%;
    color:rgb(7, 7, 7);
  
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.bookHeader
{
    height: 300px;
    margin-bottom: 0px;
}

.price , .name
{
    font-family:sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    
}
.new{

    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    padding:5px;
   margin-bottom: 20px;
   font-weight: 500;
 

}

.informationTitle
{
    font-weight: bold;
    font-family:sans-serif;
}
.book
{
    display: flex;
    flex-direction: column;
    width: 14%;
    transition: 0.5s;
}
.book:hover{
    margin-top: -50px;
    margin-bottom: 80px;
}
.btn
{
    background-color:rgb(163, 88, 35) ;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover
{
    padding: 8px;
    background-color:saddlebrown;
}
.btn:focus
{
    outline: 0;
}
.navbar
{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color:rgb(27, 27, 27);
    box-shadow: 1px 1px 20px rgba(51, 39, 39, 0.6); 
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbarLeft
{
   
    margin-left: 30px;
    align-self: center;
}

.navbarLeft a{
    text-decoration: none;
    width: 130px;
   padding: 24px;
    color: white;
}
.homeImg
{
    height: 550px;
    box-shadow: 1px 10px 10px rgba(160, 158, 158, 0.6);
 
    transition: 0.5s;    
}

.author
{
    padding: 7px;
}
.title
{
    margin-top: 30px;
}
.navbarLeft a:hover,.navbarRight a:hover
{
    background-color: rgb(0, 0, 0);

}

.navbarMiddle input
{

    padding:10px;
    border:none;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: white;
}
.navbarRight
{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.navbarRight a
{
    width: 120px;
    text-align: center;
    padding:22px;
    white-space: nowrap;
    text-decoration: none;
    color:white;
   
}
h2
{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




/* ******** FOOTER ********** */

.footer
{
    height: 250px;
    background-color: rgb(26, 25, 25);
    color: white;
    text-align: center;
}
footer
{
    height: 220px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
   
  
    color: white;
}
.footerLeft
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 39%;

}
.footerTitle
{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
}
.footerMiddle
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39%;
}
.footerMiddleLeft
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 50px;
}
.footerMiddleRight
{
    margin-top: 10px;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 160px;
}
.footerMiddleLeft svg{
    width: 30px;
}
.footerRight
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-weight: bold;
    font-size: 17px;
    width: 39%;
    padding: 50px;

}
.about
{
    font-weight: normal;
    text-align: justify;
    font-size: 13px;
}
.footerLine
{
    display: flex;
    align-self: center;
    width: 1px;
    height: 180px;
    background-color: rgb(189, 187, 187);
}











